body{
    text-align:center;
    font-family:Arial;
    background:#222;
    color:white;
}

h1{
    margin-top:40px;
}

.machine{
    background:#444;
    border:6px solid gold;
    padding:30px;
    display:inline-block;
}

.machine img{
    width:120px;
    margin:10px;
}

.spin{
    display:inline-block;
    margin-top:20px;
    padding:10px 20px;
    background:red;
    color:white;
    text-decoration:none;
    font-weight:bold;
}